<p id="notice"><%= notice %></p>

<h1><%= User.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:postal_code) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th><%= User.human_attribute_name(:self_introduction) %></th>
      <th colspan='2'></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address.nil? ? user.address : user.address.truncate(20, omission: '…') %></td>
        <td><%= user.self_introduction.nil? ? user.self_introduction : user.self_introduction.truncate(24, omission: '…') %></td>
        <td><%= link_to t('details'), "/users/show/#{user.id}" %></td>
        <% if current_user.id == user.id %>
          <td><%= link_to t('Edit profile'), edit_user_registration_path, class: 'navbar-link' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
