<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if user_signed_in? %>
        <p> <%= "#{t('Currently logged in user')} : #{current_user.email}" %> </p>
        <%= link_to t('books'), '/books', class: 'navbar-link' %> |
        <%= link_to t('User list'), '/users/index', class: 'navbar-link' %> |
        <%= link_to t('Edit profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('Logout'), destroy_user_session_path, data: { confirm: t('Are you sure?') }, method: :delete, class: 'navbar-link' %>
      <% else %>
        <%= link_to t('Sign up'), new_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('Login'), new_user_session_path, class: 'navbar-link' %>
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
