<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p>
      <% if user_signed_in? %>
        <p><%= current_user.email %></strong> としてログインしています。</p>
        <%= link_to t('Edit profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('Logout'), destroy_user_session_path, method: :delete, class: 'navbar-link' %>
      <% else %>
        <%= link_to t('Sign up'), new_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('Login'), new_user_session_path, class: 'navbar-link' %>
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
